In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('C:/Users/yashas j//Documents/AIML_Lab_Dataset/AIML_Lab_Dataset/pgm3/housing_prices.csv')
print(data.shape)
data.head()

(50, 5)

   AREA  FLOOR  ROOM CODE  PRICE
0  1000      7     2    B   5618
1  1030      7     1    A   5201
2  1060      1     1    A   4779
3  1090      6     1    A   5425
4  1120      0     2    B   5657

In [3]:
x=data.iloc[:,:3].values
y=data.iloc[:,4].values

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [5]:
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression(fit_intercept=True)
lr_model.fit(x_train,y_train)
print(lr_model.intercept_)
print(lr_model.coef_)

-3106.4127920034116
[   4.68576316   71.78274093 1894.45529322]

In [6]:
print(lr_model.score(x_train,y_train))
print(lr_model.score(x_test,y_test))

0.9646204930750824
0.8606154687481633